<nav>
  <div class="container text-center block-navs">
    <a class="block-nav" href="/design">
      <i class="icon icon_oilpaint"></i>
      <h2>Design</h2>
      <p>Learn about the design that makes up KDE apps</p>
    </a>
    <a class="block-nav" href="/develop">
      <i class="icon icon_format-text-code"></i>
      <h2>Develop</h2>
      <p>Read about the libraries that build KDE apps</p>
    </a>
    <a class="block-nav" href="/distribute">
      <i class="icon icon_document-share"></i>
      <h2>Distribute</h2>
      <p>Get your application in front of end users</p>
    </a>
  </div>
</nav>
